*{
    margin: 0;
    padding: 0;
   box-sizing:border-box;
   font-family: monospace;
}
html,body{
    height: 100%;
    width: 100%;
    color: #fefdfd;
    font-family: 'Gilroy';
}
body{
    overflow-x: hidden;
}
#main{
    position: relative;
    background-color: #030303;
}
#cursor {
    height: 2vh;/*ask aman*/
    width: 2vh;
    border-radius: 50%;
    background-color: rgb(7, 7, 7);
    border: 2px solid white; 
    position: fixed;
    z-index: 999;
    mix-blend-mode:difference ;/*it will change color acc. to position*/
    transform: translate(-50%,50%);/*it will not point now to top left*/
}

#loader{
    height: 100%;
    width: 100%;
    position:fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
}
.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: fit-content;
    gap :1.5vw;
}
.line h2{
    font-size: 6.0vw;
    text-transform:uppercase;
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
     /*addin animation*/
     opacity: 0;/*ab ye pehle se ni dekhega*/
    animation-duration: 2s;
    animation-iteration-count:infinite ;
}
@keyframes anime {/*now me animation add hoga ab*/
    0%{
        font-family:'Times New Roman', Times, serif ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;/*yaha pe dekhiega*/
        font-weight: 500;
    }
    47%{
        font-family:'Times New Roman', Times, serif ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;/*yaha pe ni dekhiega*/
        font-weight: 500;
    }
    50%{
        font-family:'silk serif black';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;/*yaha pe dekhiega*/
        font-weight: 500;
    }

    100%{
        font-family:'silk serif black';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;/*yaha pe ni dekhiega shining like a star gana to suna hi hoga*/
        font-weight: 500;
    }
}
#linepart1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
#linepart1 h5, #linepart1 h6{
    font-size:3vw ;
    font-weight: 100;
    font-family:'silk serif black' ;
}
#linepart1 h5{
    width: 5vw;
    text-align: right;/* ab hilega ni*/
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight:500;
    font-family:'Times New Roman', Times, serif;
}
#page1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 4, 4);
    padding: 1vw 2vw;
    
}
#page1 #nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#page1 #nav2{/*about work ke liye*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
    text-transform: capitalize;
}

#page1 #nav h4{
    font-family:'silk serif black';
}
.middle{
    width: 75%;
    margin-left:25% ;
    height: fit-content;
    overflow: hidden;/*overhato to number gyb*/
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;

}
.middle:nth-child(2){/*we have taken nth child 2 bcoz it is a css bug it assumes wrong*/
    margin-top: 18vh;/* it assume nav as child one and .hero h1 as 2*/
    
}

.middle h1{
   font-size: 7.5vw;
   text-transform: uppercase;
   line-height: 7vw;/*gap bhut tha dono ke beech*/
   font-family:'Gilroy';
   font-weight: 300;
   position: relative;
}
#middle1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif black';
    left:-10%;
    top:10%;
}
.middle h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 7vw;/*gap bhut tha dono ke beech*/
    font-family:'Gilroy';
    font-weight: 300;
    border-bottom:0.5vw solid #ffffff ;
    padding-bottom:0.8vw ;
    
 }
 /*adding flag wala effect*/
 .middle h2:hover{
     -webkit-text-stroke: 1px   #ffffff;
     color: transparent;
     font-weight:500;
     border-bottom: transparent;
 }
#page2{
    height: 100vh;
    width: 100%;
    /*background-color: crimson;*/
    padding-top: 17vh;
    position: relative;
}
#videodiv{
    height: 66vh;
    width:71vw;
    background-color: aqua;
    position: relative;
    left:28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#videodiv img{
     position: absolute;
     height:100%;
     width:100%;
     object-fit:cover;
     top:0;
}
#videodiv video{ 
    height: 99%;
    width: 100%;
    object-fit: cover;
}
#videocursor{
    background-color: #ffa63d;
    height:7vw;
    width:7vw;
    position: absolute;
    border-radius: 50%;
    top:-10%;
    left:80%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
#videocursor i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    padding: 12vh 3vh;
    margin-top: 10vh;
    position: relative;
}
.line500{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-top: 2vh;
    margin-left: 28vw;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    padding-top: 5vh;
   margin-left: 28vw;
}
#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif black';
    left:-10%;
    top:40%;
}
#imgcontainer{
    padding: 1vw;
    position: relative;
    margin-top: 1vh;
}
.imagediv{
    height: 33vw;
    width: 24vw;
    background-color: blue;
    position: relative;
    overflow: hidden;/*dusri img hide ho jaiyegi*/
}
.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
._canvas_container{
    z-index:99999 !important;
    pointer-events: none;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding-top: 7vh;
    
}
#page4content{
    width: 72vw;
    background-color: black;
    margin-left: 28%;
    position: relative;
}
#page4content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif black';
    left:-12%;
    top:8%;
}
#page4content .uline{
    height:1px;/*about ke necche line le lie*/
    width: 100%;
    background-color: #ffffff;
    margin: 5vw 0;
}
#page4content>p{
    font-size: 2.1vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4flex { /*para bagl me */
    display: flex;
}
#page4flex img{
    width: 48%;
    
}

#page4flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}
#page4bluediv{
    background-color: #3f7df4;
    width:30vw;
    padding:3vw 3vw;/*elem ko padding*/
    position: relative;/*imp!!*/
    margin-top: -35vh;
    margin-left: 26vw;
}
.blueelem{
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    padding: 1.5vw;/*space kar diya beech me*/
    border-bottom: 2px solid #ffffff94;
}
.blueelem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.blueelem p{
    width: 40%;
   font-size: 0.7vw;
}
#page5{
    min-height: 100vh;
    width:100%;
    padding-top: 5vw;
    position: relative;
}
.elem5{
    white-space: nowrap;/*so we can scroll*/
    overflow: hidden;
    
 
 }
 .elem5 h1{
     color: aliceblue;
     font-size: 7vw;
     -webkit-text-stroke: 1px  #fff;
     font-weight: 400;
     color: transparent;
     display: inline-block;/*for scrolling*/
     text-transform: uppercase;
     margin-right: 16px;
     animation-name: anim;
     animation-duration:5s ;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }
 @keyframes anim {
    from{
     transform:translateX(0);
    }
    to{
        transform:translateX(calc(-100% - 20px));
    }
}
.elem51{
    white-space: nowrap;/*so we can scroll*/
    overflow: hidden;
 
 }
.elem51 h1{
    color: aliceblue;
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;/*for scrolling*/
    text-transform: uppercase;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: anim ;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
#footer{
    height: 85vh;
    position: relative;
    padding-left: 28vw;
}
#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    width: 60vw;
    position: relative;
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif black';
    left:-12%;
    top:8%;
}
.nechewliline{
    height: 0.2vw;
    width: 100%;
    background-color: #fff;
    margin-top: 3vw;
}

#fotterdiv{
   display: flex;
   align-items:flex-start ;
   justify-content: space-between;
   padding-right: 15vw;
   padding-top: 4vw;
   margin-bottom:2vw;
}
#fotterdiv h6{
   font-size: 0.9vw;
   text-transform: uppercase;
   font-weight: 500;
}
.box{
    width: 20%;
    
}
#fotterdiv h5{
    font-size: 1.4vw;
    font-weight: 500;
}
#footer>h5{
    font-size: 1vw;
    font-weight: 500;
    padding-top: 3vh;
}